
    body {
      font-family: Arial;
      direction: rtl;
      text-align: right;
      padding: 20px;
      background-color: #f8f9fa;
    }
    .sidebar {
      position: fixed;
      top: 0;
      right: -300px;
      width: 280px;
      height: 100%;
      background: #f8f9fa;
      box-shadow: -2px 0 5px rgba(0,0,0,0.1);
      transition: right 0.3s ease;
      z-index: 9999;
      overflow-y: auto;
    }
    .sidebar.open {
      right: 0;
    }
    #scanner {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
    }
    #loading-spinner {
      text-align: center;
      margin-top: 20px;
    }
    .badge-success {
      background-color: #28a745;
      font-size: 0.9rem;
      padding: 0.4em 0.6em;
      border-radius: 0.5em;
    }

    #filterForm {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 1000;
}

/* הקטנת גודל הכפתורים */
button.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.dropdown-menu {
  right: 0; /* התאמה לממשק RTL */
  left: auto;
}

.btn {
  margin-bottom: 5px; /* ריווח בין כפתורים */
}

.header {
  background-color: #f8f9fa;
  padding: 10px;
  width: 100%;
}


